*{
    margin: 0px;
    padding: 0px;
}

.main-grid {

    display: grid;
    grid-template-rows: 9% 100%  ;
    height: 100vh;

}

.one{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: grid;
    grid-auto-flow: column;
}

.two{
    background-color: aquamarine;
}

.three{
    background-color: yellow;
}

.four{
    background-color: red;
}